# Preppin Data 2019 Week 01

https://preppindata.blogspot.com/2019/02/2019-week-1.html

Instructions
* Import the starter file (click to open the Google Drive link)
* Make a date that will work in Tableau Desktop
* Work out the total car sales per month / per car dealership
* Retain the car sales per colour columns
* Export the file

Due to the way Tableau Prep works, your output:
* Might not have the same row or column order as our output
* Will have the same number of columns (7)
* Will have the same number of rows (48)

In [32]:
import pandas as pd

In [33]:
import numpy as np

In [34]:
df = pd.read_csv('2019 Week 1.csv')

In [35]:
df.head()

,Dealership,Red Cars,Silver Cars,Black Cars,Blue Cars,When Sold Month,When Sold Year
0,A,451,325,377,396,1,2018
1,A,355,238,259,246,2,2018
2,A,124,456,303,175,3,2018
3,A,391,456,429,223,4,2018
4,A,139,177,241,376,5,2018

### calculate total car sales

In [69]:
df['Total Car Sales'] = df['Red Cars'] + df['Silver Cars'] + df['Black Cars'] + df['Blue Cars']

### convert dates to strings then create a full date

In [49]:
df['Year'] = df['When Sold Year'].astype(str)

In [51]:
df['Month'] = df['When Sold Month'].astype(str)

In [56]:
df['Day'] = '1'

In [58]:
df['Date Sold'] = pd.to_datetime(df[['Year','Month','Day']])

### delete unwanted columns

In [64]:
df = df.drop(['When Sold Month','When Sold Year','Year','Month','Day'], axis=1)

In [65]:
df.head()

,Dealership,Red Cars,Silver Cars,Black Cars,Blue Cars,Total Car Sales,Date Sold
0,A,451,325,377,396,1549,2018-01-01
1,A,355,238,259,246,1098,2018-02-01
2,A,124,456,303,175,1058,2018-03-01
3,A,391,456,429,223,1499,2018-04-01
4,A,139,177,241,376,933,2018-05-01

### export final output

In [66]:
df.to_csv('2019 Week 1 solution.csv')