# Preppin Data 2019 Week 02

https://preppindata.blogspot.com/2019/02/2019-week-2.html

Requirements for this week:
* Import the file
* Get rid of those nicely formatted titles - no-one is viewing this in Excel! (sorry Excel fans)
* Make sure you get all the data in the Excel sheet loaded in to Prep
* Clean up the City names to create two cities in one column (London and Edinburgh)
* Pivot the data to give a measure per column for the four metrics in the data set
* Output the data to csv

Your output file should:
* have 6 columns
* have 14 rows of data and a row of headers
* Have no cells without a value

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [14]:
df = pd.read_excel('PD 2019 Wk 2.xlsx', sheet_name='PC Wk 02')

In [ ]:
df

In [16]:
# replace London typos
df.City[0:28] = 'London'

In [18]:
# replace Edinburgh typos
df.City[31:59]='Edinburgh'

In [42]:
# drop blank rows
df = df.drop([28, 29, 30])

In [34]:
# combine fields to one new column
df['Metric Name'] = df['Metric'] + '-' + df['Measure']

In [35]:
df.head()

,City,Metric,Measure,Value,Date,Metric Name
0,London,Max Temperature,Celsius,13.0,2019-02-16 00:00:00,Max Temperature-Celsius
1,London,Min Temperature,Celsius,6.0,2019-02-16 00:00:00,Min Temperature-Celsius
2,London,Precipitation,mm,2.0,2019-02-16 00:00:00,Precipitation-mm
3,London,Wind Speed,mph,7.0,2019-02-16 00:00:00,Wind Speed-mph
4,London,Max Temperature,Celsius,14.0,2019-02-17 00:00:00,Max Temperature-Celsius

In [40]:
# drop unwanted columns
df = df.drop(['Measure','Metric'], axis=1)

In [47]:
# pivot table
df = df.pivot_table(index=['City','Date'],columns='Metric Name',values='Value')

In [48]:
# export to csv
df.to_csv('PD 2019 Wk 2.csv')