# Preppin Data 2022 Week 2

#### Load data

In [1]:
import pandas as pd
import datetime as dt

In [2]:
df = pd.read_csv('PD 2022 Wk 1 Input - Input.csv')

In [3]:
df.head()

,id,pupil first name,pupil last name,gender,Date of Birth,Parental Contact Name_1,Parental Contact Name_2,Preferred Contact Employer,Parental Contact
0,1,Ronna,Nellies,Female,12/21/2013,Purcell,Ketti,Demizz,1
1,2,Rusty,Andriulis,Male,7/21/2012,Vassili,Rivi,Brainbox,1
2,3,Roberta,Oakeshott,Female,12/4/2011,Lind,Haskell,Centidel,2
3,4,Lola,Rubinfajn,Male,6/29/2012,Elie,Tresa,Edgeblab,2
4,5,Kamila,Benedtti,Female,7/10/2012,Adela,Clevey,Trudoo,1

In [4]:
#### Create pupil's name

In [5]:
df['Pupil Name'] = df['pupil first name'] + ' ' + df['pupil last name']

#### Remove unnecessary fields

In [6]:
df = df.drop(['Parental Contact Name_1','Parental Contact Name_2','Preferred Contact Employer',\
              'Parental Contact', 'pupil first name', 'pupil last name'], axis=1)

#### Create the date for the pupil's birthday in calendar year 2022

In [7]:
df['Date of Birth'] = pd.to_datetime(df['Date of Birth'])

In [8]:
df["This Year's Birthday"] = df['Date of Birth'].apply(lambda x: x.replace(year = 2022))

In [9]:
df.head()

   id  gender Date of Birth         Pupil Name This Year's Birthday
0   1  Female    2013-12-21      Ronna Nellies           2022-12-21
1   2    Male    2012-07-21    Rusty Andriulis           2022-07-21
2   3  Female    2011-12-04  Roberta Oakeshott           2022-12-04
3   4    Male    2012-06-29     Lola Rubinfajn           2022-06-29
4   5  Female    2012-07-10    Kamila Benedtti           2022-07-10

#### Work out day of week (if Sat/Sun then Friday) and Month of Birthday

In [10]:
df['Cake Needed On'] = df["This Year's Birthday"].dt.day_name()

In [11]:
df['Cake Needed On'] = df['Cake Needed On'].apply(lambda x: x.replace('Saturday','Friday'))

In [12]:
df['Cake Needed On'] = df['Cake Needed On'].apply(lambda x: x.replace('Sunday','Friday'))

In [13]:
df['Month'] = df["This Year's Birthday"].dt.month_name()

In [14]:
df.head()

,id,gender,Date of Birth,Pupil Name,This Year's Birthday,Cake Needed On,Month
0,1,Female,2013-12-21,Ronna Nellies,2022-12-21,Wednesday,December
1,2,Male,2012-07-21,Rusty Andriulis,2022-07-21,Thursday,July
2,3,Female,2011-12-04,Roberta Oakeshott,2022-12-04,Friday,December
3,4,Male,2012-06-29,Lola Rubinfajn,2022-06-29,Wednesday,June
4,5,Female,2012-07-10,Kamila Benedtti,2022-07-10,Friday,July

#### Count how many birthdays there are on each weekday in each month

In [46]:
df_group = df.groupby(['Month','Cake Needed On'], as_index=False).size()

In [48]:
df = df.merge(df_group, on=['Month','Cake Needed On'])

In [53]:
df['BDs per Weekday and Month'] = df['size']

In [55]:
df = df.drop('size', axis=1)

In [60]:
df = df.sort_values('id')

In [61]:
df.head()

,id,gender,Date of Birth,Pupil Name,This Year's Birthday,Cake Needed On,Month,BDs per Weekday and Month
0,1,Female,2013-12-21,Ronna Nellies,2022-12-21,Wednesday,December,9
9,2,Male,2012-07-21,Rusty Andriulis,2022-07-21,Thursday,July,12
21,3,Female,2011-12-04,Roberta Oakeshott,2022-12-04,Friday,December,45
66,4,Male,2012-06-29,Lola Rubinfajn,2022-06-29,Wednesday,June,15
81,5,Female,2012-07-10,Kamila Benedtti,2022-07-10,Friday,July,49

#### Export data

In [63]:
df[['Pupil Name', 'Date of Birth',"This Year's Birthday",'Month','Cake Needed On',\
    'BDs per Weekday and Month']].to_csv('2022W02_output.csv', index=False)